<div class="page-header">
  <div class="pull-xs-right">
    <%= link_to("Edit", [:edit, @game, @add_on], class: "btn btn-secondary") %>
  </div>
  <h1><%= @game.name %></h1>
  <h2><%= @add_on.title %></h2>
  $<%= @add_on.cost %>
</div>
