<p>
  <strong>Game:</strong>
  <%= @add_on.game_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @add_on.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @add_on.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @add_on.cost %>
</p>
