<div class="page-header">
  <div class="pull-xs-right">
    <%= link_to "New Game", new_game_path, class: "btn btn-secondary" %>
  </div>
  <h1>Games</h1>
</div>

<div class="row">
  <% @games.each do |game| %>
    <div class="col-xs-6 col-md-3">
      <div class="card">
        <div class="card-block">
          <div class="caption">
            <%= link_to(game.name, game) %><br />
            <span class="text-muted"><%= pluralize(game.add_ons.count, "Add On") %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
