<div class="page-header">
  <%= link_to("Edit", [:edit, @game], class: "btn btn-secondary pull-xs-right") %>
  <h1><%= @game.name %></h1>
</div>

<section>
  <%= link_to("New AddOn", [:new, @game, :add_on], class: "btn btn-secondary pull-xs-right") %>
  <h2>Add Ons</h2>
  <div class="row">
    <% @add_ons.each do |add_on| %>
      <div class="col-xs-6 col-md-3">
        <div class="card">
          <div class="card-block">
            <div class="caption">
              <%= link_to(add_on.title, [@game, add_on]) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
